name: jewelry_ci

env:
    DOCKER_BUILDKIT: 1
    COMPOSE_DOCKER_CLI_BUILD: 1

on:
    pull_request:
        branches: ['*']

    push:
        branches: [ "main"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true


jobs:
    runner:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v3
            - name: checkout python package
              uses: actions/setup-python@v3
              with:
                python-version: "3.10.9"
            - name: install poetry
              run: |
                python -m pip install --upgrade pip
                python -m pip install poetry=="1.3.1"
            - name: install poetry dependencies with "develop"
              shell: bash
              run: |
                cd backend
                poetry self add poetry-plugin-export
                poetry export --with production --with dev -f requirements.txt --output requirements.txt
            - name: Install dependencies
              run: |
                cd backend
                pip install -r requirements.txt

    pytest:
        needs: runner
        runs-on: ubuntu-latest
        steps:
        - name: Login to Docker Hub
          uses: docker/login-action@v2
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - name: Checkout Code Repository
          uses: actions/checkout@v3
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2
        - name: Build the Stack
          run:  docker-compose build
        - name: Run DB Migrations
          run:  docker-compose run --rm django python manage.py migrate
        - name: Run Django Tests
          run:  docker-compose run django coverage run -m pytest
        - name: Generate coverage.lcov
          run: docker-compose run django coverage lcov
        - name: Tear down the Stack
          run:  docker-compose down
        - name: Coveralls GitHub Action
          uses: coverallsapp/github-action@master
          with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            path-to-lcov: "./backend/coverage.lcov"
            base-path: "./backend"
